@import url("https://unpkg.com/@picocss/pico@latest/css/pico.min.css");

body {
  padding: 1em;
}

body > main {
  padding: 1em;
}

/* show the outline of the map area */
#map {
  outline: 1px solid #000;
}